* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    width: 250px;
    height: 375px;
    border-radius: 10px;
    margin: 60px auto;
    font-family: "Outfit", sans-serif;
    background-color: white;
    display: block;
    align-content: center;
}

.image {
    width: 230px;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    margin: 0 0 20px 0;
}

.head-text {
    display: flex;
    text-align: center;
    justify-self: center;
    font-size: 17px;
    width: 200px;
    margin: 0 0 10px 0;
    color: hsl(218, 44%, 22%);
}

.paragraph-text {
    display: flex;
    text-align: center;
    justify-self: center;
    font-size: 11px;
    width: 190px;
    padding: 0 0 10px 0;
    color: hsl(216, 15%, 48%);
}

